<div class="contact-list contact-list-simple">
  <div class="contact-item email-line">
    <i class="fas fa-envelope"></i>
    <p><a href="mailto:business@jaykastudios.com">business@jaykastudios.com</a></p>
  </div>
  <div class="contact-item follow-line">
    <span class="follow-label">Follow Us</span>
    <span class="follow-icons">
      <a href="https://www.youtube.com/@jaykastudios" aria-label="YouTube" class="social-icon"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/jayka_studios/" aria-label="Instagram" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/people/Jayka-Studios/61580624625952/" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook"></i></a>
    </span>
  </div>
</div>