{{ $unused := .Inner }}
{{ if .Get "androidLink" }}
<a href="{{ .Get "androidLink" }}" target="_blank" class="game-item-link">
{{ end }}
<div class="game-item">
  <div class="game-image">
    <img src="{{ .Get "image" }}" alt="{{ .Get "alt" | default "Game Icon" }}">
    <div class="game-content">
      <h3>{{ .Get "title" }}</h3>
    </div>
    <div class="game-overlay">
      <div class="download-button">
  <span class="download-text">Play Now</span>
      </div>
    </div>
  </div>
</div>
{{ if .Get "androidLink" }}
</a>
{{ end }}