<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->
<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
:root {
     /* === Cover / Landing area === */
     --cover-text-color: #ffbf00; 
     /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
     --highlight: #24231f;
     --highlight-contrast: var(--cover-text-color);
    /*inverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: #24231f;
     /* visual guard around title and description, when the feature is enabled */
     --cover-title-and-description-guard-bg-color: rgba(0, 0, 0, 0.6);
     --cover-title-text-shadow: #24231f 0px 0px 7px;
     
    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #fd7e00;

     /* === Alternating content (post) sections  === */
     /* Light section - text color */
     --section-light-text-color: #24231f;
     /* Light section - background color */
     --section-light-bg-color: #ffbf00;

     /* Dark section - text color */
     --section-dark-text-color: var(--section-light-bg-color);
     /* Dark section - background color */
     --section-dark-bg-color: #24231f;

     /* Light&Dark section >quote. Suppressive color, compared to 'Light section - text color'*/
     --section-uni-quote: grey;
     /* Light&Dark section `code` a bit darker than 'Light section - background color' */
     --section-uni-code-bg-color: #e0ded7;

     /* === Single pages=== */
     --single-page-text-color: var(--section-light-text-color);
     --single-page-bg-color: var(--section-light-bg-color);

     /* === Footer === */
     --footer-color-background: #fd7e00;
     --footer-color: 24231f;
}

</style>

<link rel="stylesheet" href='{{ "css/shimmer_button.css" | absURL }}'>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

