<div style="display: flex; flex-wrap: wrap; gap: 20px; align-items: flex-start;">
    <!-- Image Section -->
    <div style="flex: 1;  min-width: 280px; max-width: 400px; margin-bottom: 20px;">
      <img src="{{ .Get "image" }}" alt="{{ .Get "alt" }}" style="width: 100%; height: auto; border-radius: 10px; object-fit: cover;"/>
    </div>
  
    <!-- Text and Buttons Section -->
    <div style="flex: 2; min-width: 280px; max-width: 400px;">
      <h2 style="margin: 0 0 10px 0; font-size: 24px; ">{{ .Get "title" }}</h2>
      <p style="margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; ">
        {{ .Inner }}
      </p>
  
      <!-- Buttons Section -->
      <div style="display: flex; gap: 15px; margin-top: 10px; flex-wrap: wrap;">
        <a href="{{ .Get "button1link" }}" target="_blank">
          <img src="{{ .Get "button1img" }}" alt="Google Play Button" style="width: 120px; height: auto;"/>
        </a>
        <a href="{{ .Get "button2link" }}" target="_blank">
          <img src="{{ .Get "button2img" }}" alt="App Store Button" style="width: 120px; height: auto;"/>
        </a>
      </div>
    </div>
</div>
  